@use ".././tools/variables" as var;

.calculadora{
    width: 40%;
    margin: auto;
    height: 95%;
    background-color: rgba(255, 255, 255, 0.26);
    &__div-input{
        width: 90%;
        margin: 20px auto;
    }
    &__input{
        width: 100%;
        height: 70px;
        border: none;
        font-size: 2em;
        text-align: right;
        background-color: var.$whiteBase;
        cursor: default;
        &:focus{
            outline: none;
        }
    }
    &__div-buttons{
        width: 90%;
        margin: 0 auto;
        height: 80%;
        display: grid;
        grid-template-rows: repeat(4,1fr);
        grid-template-columns: repeat(4,1fr);
    }
    &__btn{
        font-size: 2em;
        border: none;
        margin: 2px;
        background-color: var.$whiteBase;
        color: var.$blackBase;
        &:focus{
            outline: none;
        }
        &:active{
            background-color: darken(var.$whiteBase, 54);
            color: var.$whiteBase;
       }
    }
    &__signal{
        background-color: darken(var.$whiteBase, 20);
    }
    &__igual{
        background-color:#d65e01;
    }
}